<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COMPLETED TASK</title>
</head>
<body>
<body>
<style>
table {
  border-collapse: collapse;
  width: 50%;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>

<h2>Completed Task</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Taskname</th>
    <th>StartDate</th>
    <th>EndDate</th>
    <th>Action</th>
  </tr>
  <tr>
    {% for val in val %}
    <td>{{val.user}}</td>
    <td>{{val.Taskname}}</td>
    <td>{{val.Startdate}}</td>
    <td>{{val.Duedate}}

    </td>
    <td> <button type="submit" href="/{{val.user}}">ADD</button>
    <button type="submit" href="/{{val.id}}">DELETE</button>
        <button type="submit" href="/{{val.id}}">UPDATE</button>
      {%endfor%}
    </td>
  </tr>

</table>
</body>
</html>